img
  object-fit: cover
  object-position: center top

.is-secondary
    font-family: family-secondary

// Set your brand colors
$blue-vue: #0B2840
$green-vue: #3DAF7C

// Update Bulma's global variables
$weight-light: 300
$size-1: 5rem


//Colors
$primary: $blue-vue
$info: #3DAF7C
$link: #3DAF7C

// Update some of Bulma's component variables
$family-primary: sans-serif
$family-secondary: serif
$body-weight: $weight-light
$footer-padding: 1rem
$subtitle-color: #71819A !important
$subtitle-weight: 400 !important

// Custom CSS
.gradient
  background-image: url('../assets/images/gradiente-mascara.jpg')
  background-size: cover
  background-clip: text !important
  background-position: center bottom
  color: transparent

