img
  object-fit: cover
  object-position: center top
// .overflow
//   overflow: hidden
.is-secondary
    font-family: family-secondary

// Set your brand colors
$blue-vue: #0B2840
$green-vue: #3DAF7C
$grey-darker: #737F81

// Update Bulma's global variables
$weight-light: 300
$size-1: 5rem

//Colors
$primary: $blue-vue
$info: #3DAF7C
$link: #3DAF7C

// Update some of Bulma's component variables
$family-primary: sans-serif
$family-secondary: serif
$body-weight: $weight-light
// $body-background-color: $blue-vue
// $card-background-color: $blue-vue
// $card-color: white

